## T-test & P-value

One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [10]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [11]:
data=pd.read_table('files_for_lab/machine_new.txt')
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [12]:
#Rename columns
data.columns

Index(['New machine', '    Old machine'], dtype='object')

In [13]:
data.rename(columns={"New machine":"new", '    Old machine':"old"},inplace=True)

In [14]:
data.head(10)

    new   old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

The two group observations cannot be matched therefore samples are independent of eachother.

Hypothesis: The new machine will pack faster on average than the old machine

$$H0: \mu_{new} < \mu_{old}$$
$$H1: \mu_{new} >= \mu_{old} $$

In [15]:
#Calculate means and standard deviation of both machines assuming variances aren't equal. 
new_mean, old_mean = data['new'].mean(), data['old'].mean()
new_std, old_std = data['new'].std(), data['old'].std()

In [16]:
r = np.sqrt( (1/len(data['new'])) + (1/len(data['old'])) )
sp = ( len(data['new']) - 1 ) * ( new_std**2 ) +  ( len(data['old']) - 1 ) * ( old_std**2 )
sp /= ( len(data['new']) + len(data['old']) - 2)

In [17]:
#T statistic
t = ( new_mean - old_mean )/ (sp * r)

In [18]:
print("The mean of the new machine is {:.2f}".format(new_mean))
print("The mean of the old machine is {:.2f}".format(old_mean))
print("The standard deviation of the new machine is {:.2f}".format(new_std))
print("The standard deviation of the old machine is {:.2f}".format(old_std))
print("The t statistic is: {:.2f}".format(t))

The mean of the new machine is 42.14
The mean of the old machine is 43.23
The standard deviation of the new machine is 0.68
The standard deviation of the old machine is 0.75
The t statistic is: -4.74

In [19]:
#Test using critical values
st.t.ppf((0.05),df = len(data['new'])+len(data['old'])-2)

-1.734063606617536

In [20]:
#critical value > t-statistic, therefore reject null hypothesis

In [21]:
#Test using p-values
st.t.cdf(t,df = len(data['new'])+len(data['old'])-2)

8.260617649942772e-05

In [22]:
#pval < 0.05, therefore reject null hypothesis and accept alternative hypothesis.

## Matched Pairs Test

Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [23]:
pokemon=pd.read_csv('files_for_lab/pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Hypothesis: Defense and attack scores are equal.

$$H0: \mu_{def} = \mu_{att} → \mu_{def} - \mu_{att} = 0$$
$$H1: \mu_{def} \neq \mu_{att} → \mu_{def} - \mu_{att} \neq 0$$

Given the unequality on the alternative, we need to use a "two-sided" test.

In [24]:
#Calculate difference between the columns
pokemon['difference'] = pokemon['Defense']-pokemon['Attack']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,difference
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,-9

In [25]:
pokemon_diff_mean, pokemon_diff_std = pokemon['difference'].mean(), pokemon['difference'].std()
pokemon_diff_mean, pokemon_diff_std

(-5.15875, 33.7323418553516)

In [26]:
#Calculate t-statistic
t = pokemon_diff_mean / ( pokemon_diff_std / np.sqrt(pokemon.shape[0]) )
print("The mean of our samples differences is: {:.2f}".format(pokemon_diff_mean))
print("The standard deviation of our samples differences is: {:.2f}".format(pokemon_diff_std))
print("Our t statistics is: {:.2f}".format(t))

The mean of our samples differences is: -5.16
The standard deviation of our samples differences is: 33.73
Our t statistics is: -4.33

In [27]:
#Calculate the critical value
tc = st.t.ppf(1-(0.05/2),df= pokemon.shape[0] - 1)
tc

1.9629374611056056

In [28]:
# -4.33 < 1.9842
# t statisic < critical value, therefore reject the null hypothesis

In [29]:
#Calculating p-value 
st.t.cdf(t,df = pokemon.shape[0] - 1)

8.570151739679118e-06

In [30]:
# 8.570151739679118e-06 < 0.025
# p-value < significance level therefore reject the null hypothesis.

In [31]:
st.ttest_rel(pokemon['Defense'],pokemon['Attack'],alternative = "two-sided")

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [32]:
#Not sure why the p-values are different...?

## ANOVA

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context:
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

State the null hypothesis

State the alternate hypothesis

What is the significance level

What are the degrees of freedom of model, error terms, and total DoF

In [33]:
plasma=pd.read_excel('files_for_lab/anova_lab_data.xlsx')
plasma

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

**Hypothesis:**

$$H0: \mu_{1}=\mu_{2}=\mu_{3}=⋯=\mu_{n}$$
$$H1: \mu_{i}\neq\mu_{j}$$

for any i,j

**Significance level:** 0.05


**N= no. of observations in group** = 5 ,

**k= no. of groups** = 3

**Total degrees of freedom:** N-1 = 5-1 = 4

**Between Groups degrees of freedom:** k-1 = 3-1 = 2

**Within Groups degrees of freedom:** N-k = 5-3 = 2

In [34]:
plasma.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [35]:
plasma.rename(columns={'Power ':"power", 'Etching Rate':"etching_rate"},inplace=True)

In [36]:
plasma['power'].value_counts()

160 W    5
180 W    5
200 W    5
Name: power, dtype: int64

In [37]:
plasma['power_count'] = plasma.groupby('power').cumcount()
plasma

    power  etching_rate  power_count
0   160 W          5.43            0
1   180 W          6.24            0
2   200 W          8.79            0
3   160 W          5.71            1
4   180 W          6.71            1
5   200 W          9.20            1
6   160 W          6.22            2
7   180 W          5.98            2
8   200 W          7.90            2
9   160 W          6.01            3
10  180 W          5.66            3
11  200 W          8.15            3
12  160 W          5.59            4
13  180 W          6.60            4
14  200 W          7.55            4

In [38]:
plasma_pivot = plasma.pivot(index='power_count', columns = 'power', values='etching_rate')
plasma_pivot

power        160 W  180 W  200 W
power_count
0             5.43   6.24   8.79
1             5.71   6.71   9.20
2             6.22   5.98   7.90
3             6.01   5.66   8.15
4             5.59   6.60   7.55

In [39]:
plasma_pivot.columns = ['power_'+str(x).replace(' ', '_')  for x in plasma_pivot.columns.values]
plasma_pivot.head(10)

             power_160_W  power_180_W  power_200_W
power_count
0                   5.43         6.24         8.79
1                   5.71         6.71         9.20
2                   6.22         5.98         7.90
3                   6.01         5.66         8.15
4                   5.59         6.60         7.55

In [40]:
plasma_pivot.mean()

power_160_W    5.792
power_180_W    6.238
power_200_W    8.318
dtype: float64

Need to calculate the F-statistic

Calculate $\hat{S}_{t}^{2}$:

In [41]:
S2t = 0
for power in plasma['power'].unique(): #160, 180, 200
    ng = len(plasma[plasma['power'] == power]) 
    S2t  += ( ( plasma[plasma['power'] == power]['etching_rate'].mean() - plasma['etching_rate'].mean() ) ** 2) * ng
S2t /= ( plasma['power'].nunique() - 1 )
print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 9.09

Calculate $\hat{S}_{E}^{2}$:

In [42]:
S2E = 0
for power in plasma['power'].unique():
    for rate in plasma[plasma['power'] == power]['etching_rate']:
        S2E += ( rate - plasma[plasma['power'] == power]['etching_rate'].mean() ) ** 2
S2E /= ( len(plasma) - plasma['power'].nunique() ) 

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

In [99]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [43]:
st.f_oneway(plasma_pivot.power_160_W,plasma_pivot.power_180_W,plasma_pivot.power_200_W)

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
#7.506584272358903e-06 <0.05, therefore reject null hypothesis.